<div *ngIf="dataList.length; else loading" class="table-responsive">
    <table class="table table-hover">
        <caption>{{ title }}</caption>
        <thead class="thead-light">
            <tr>
                <th *ngFor="let field of fields">
                    <my-columnHeader (onSelect)="sortBy($event)" [field]="field">
                    </my-columnHeader>
                </th>
            </tr>   
        </thead>
        <tbody>
            <tr tabindex="0" *ngFor="let data of dataList" (click)="selectItem(data)" (keyup.enter)="selectItem(data)">
                <td tabindex="0" *ngFor="let field of fields">
                    {{ data[field] }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td [colSpan]="dataList.length">
                    <my-pagination 
                        [pages]="pages"
                        (onPageSelect)="load($event)">
                    </my-pagination>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<ng-template #loading>
    <p class="text-center">Loading data, please wait...</p>
</ng-template>